[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
prettyprint = "*"
mypy = "*"

[packages]
certifi = "==2018.4.16"
chardet = "==3.0.4"
idna = "==2.6"
inflect = "==1.0.0"
numpy = "==1.14.3"
pandas = "==0.24.2"
pycryptodome = ">=3.6.6"
python-dateutil = "==2.7.3"
pytz = "==2018.4"
requests = ">=2.20.0"
selenium = "==3.12.0"
six = "==1.11.0"
twilio = "==6.16.2"
urllib3 = ">=1.24.2"
Jinja2 = "==2.10.1"
MarkupSafe = "==1.1.1"
"pdfminer.six" = "==20170720"
PyJWT = "==1.6.4"
PySocks = "==1.6.8"
python-dotenv = "*"
retry = "*"
pyyaml = "*"
boto = "*"
boto3 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
